@tailwind base;
@tailwind components;
@tailwind utilities;


/* Personalizar la barra de desplazamiento para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px;
    /* Ancho de la barra vertical */
    height: 10px;
    /* Alto de la barra horizontal */
}

/* Estilo del fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #1e1e2e;
    /* Color del fondo de la barra */
    border-radius: 5px;
    /* Bordes redondeados */
}

/* Estilo del "thumb" (la parte móvil de la barra) */
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #262141, #45087B);
    /* Degradado violeta */
    border-radius: 5px;
    /* Bordes redondeados */
}

/* Cambiar el color cuando se pasa el mouse */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #241f47, #5B0E94);
    /* Un tono más claro al hacer hover */
}

/* Para Firefox (soporta `scrollbar-color`) */
* {
    scrollbar-width: thin;
    /* Hace que la barra sea delgada */
    scrollbar-color: #504a7a #1e1e2e;
    /* Color del thumb y del track */
}

html,
body {
    height: 100%;
    margin: 0;
}

/* Estilos específicos para cada dominio */
.domain-pilar {
    /* background: radial-gradient(circle, #FF0025, #45001C); */
    background: radial-gradient(circle at center,
            #FF0025 0%,
            #FF0025 40%,
            #45001C 70%,
            #45001C 100%);
}

.domain-salta {
    /* background: radial-gradient(circle, #FF0025, #45001C); */
    background: radial-gradient(circle at center,
            #FF0025 0%,
            #FF0025 40%,
            #45001C 70%,
            #45001C 100%);
}

/* zarate se mantiene igual que pilar */
.domain-zarate {
    /* background: radial-gradient(circle, #FF0025, #45001C); */
    background: radial-gradient(circle at center,
            #FF0025 0%,
            #FF0025 40%,
            #45001C 70%,
            #45001C 100%);
    /* Colores de ejemplo para ZARATE */
}

.domain-background0 {
    background: #FFFFFF;
}

.domain-background1 {
    background: #390A01;
}

.domain-background2 {
    background: #550623;
}

.domain-background3 {
    background: #02352B;
}

.domain-background4 {
    background: #031142;
}

.domain-background5 {
    background: #20045A;
}

@font-face {
    font-family: 'Gotham-Black';
    src: url('/fonts/Gotham-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('/fonts/Gotham-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('/fonts/Gotham-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* fuente itallic */
@font-face {
    font-family: 'Gotham-Italic';
    src: url('/fonts/Gotham-Italic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* FUENTE APUNTADA PARA EL FOOTER */
@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('/fonts/BebasNeue-Regular.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bison-BoldItallic';
    src: url('/fonts/Bison-BoldItallic.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* FUENTE PARA SALTA */
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('/fonts/OpenSans-BoldItalic.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Define utility classes */
.gothamBlack {
    font-family: 'Gotham-Black', sans-serif;
}

.gothamBook {
    font-family: 'Gotham-Book', sans-serif;
}

.gothamMedium {
    font-family: 'Gotham-Medium', sans-serif;
}

.gothamItalic {
    font-family: 'Gotham-Italic', sans-serif;
}

.bisonBoldItallic {
    font-family: 'Bison-BoldItallic', sans-serif;
}

/* fuente de footer  */
.bebasNeueRegular {
    font-family: 'BebasNeue-Regular', sans-serif;
}

/* FUENTE PARA SALTA */
.OpenSansBoldItalic {
    font-family: 'OpenSans-BoldItalic', sans-serif;
}

/* ESTILOS PARA LOS TEXTOS */
.texto-inclinado {
    display: inline-block;
    transform: skewX(-8deg);
    /* Inclina el texto en el eje X */
}